* {
  box-sizing: border-box;
}

main {
  padding: 0px;
  margin: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  border-radius: 40px;
  font-family: "Lilita One", sans-serif;
  background-color: #2E004B;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
}

.header--image {
  height: 100%;
  margin-right: 10px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: .75rem;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.form--input {
  font-family: 'Lilita One', sans-serif;
  border-radius: 20px;
  border: 2px solid #2E004B;
  outline: none;
  padding: 10px;
  text-indent: 5px;
  margin-bottom: 10px;
}

.form--input:focus {
  outline: 2px solid #2E004B;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.form--button {
  font-family: 'Lilita One', sans-serif;
  border-radius: 20px;
  border: 2px solid #2E004B;
  box-shadow: 0 4px #2E004B;
  padding: 10px 16px;
  background-color: #FFAC4A;
  color: #2E004B;
  cursor: pointer;
  margin-bottom: 14px;
  margin-right: 10px;
}

.form--button:hover {
  background-color: #FF8A00;  
  outline: 1px solid #2E004B;
}

.form--button:active {
  box-shadow: 0 2px #2E004B;
  transform: translateY(3px);
}

.form--url {
  font-family: 'Lilita One', sans-serif;
  border-radius: 20px;
  border: 2px solid #2E004B;
  outline: none;
  padding: 10px 16px;
  margin-bottom: 13px;
  flex-grow: 1;
  transform: translateY(3px);
}

.form--url:focus {
  outline: 2px solid #2E004B;
}

::placeholder {
  font-family: 'Gaegu', cursive;
}

.font-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Gaegu', cursive;
  height: 65px;
  border-radius: 40px;
  background-color: #FFE3BD;
  color: #2E004B;
  padding: 20px;
  margin-bottom: 10px;
}

.font-section h2 {
  margin: 0px 10px 0px 0px;
}

.font-section button {
  margin-bottom: 3px;
}

#meme-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meme {
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 10px;
  padding-right: 0px;
  background-color: transparent;
}

.meme--image {
  border-radius: 10px;
  outline: 2px solid #2E004B;
  max-width: 100%;
  height: auto;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

#download-container {
  display: flex;
  justify-content: right;
}

#download--button {
  margin: 10px 0px;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}