* {
  box-sizing: border-box;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  font-family: "Lilita One", sans-serif;
  background-color: #2E004B;
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: .75rem;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.form--input {
  font-family: 'Lilita One', sans-serif;
  border-radius: 20px;
  border: 1px solid #2E004B;
  padding: 10px;
}

.form--button {
  font-family: 'Lilita One', sans-serif;
  border-radius: 20px;
  border: none;
  padding: 10px;
  background-color: #FFAC4A;
  cursor: pointer;
}

::placeholder {
  font-family: 'Gaegu', cursive;
}